
.tmicon-mfglabs-search:before { content: '\e800'; } /* '' */
.tmicon-mfglabs-mail:before { content: '\e801'; } /* '' */
.tmicon-mfglabs-heart:before { content: '\e802'; } /* '' */
.tmicon-mfglabs-heart-broken:before { content: '\e803'; } /* '' */
.tmicon-mfglabs-star:before { content: '\e804'; } /* '' */
.tmicon-mfglabs-star-empty:before { content: '\e805'; } /* '' */
.tmicon-mfglabs-star-half:before { content: '\e806'; } /* '' */
.tmicon-mfglabs-star-half_empty:before { content: '\e807'; } /* '' */
.tmicon-mfglabs-user:before { content: '\e808'; } /* '' */
.tmicon-mfglabs-user-male:before { content: '\e809'; } /* '' */
.tmicon-mfglabs-user-female:before { content: '\e80a'; } /* '' */
.tmicon-mfglabs-users:before { content: '\e80b'; } /* '' */
.tmicon-mfglabs-movie:before { content: '\e80c'; } /* '' */
.tmicon-mfglabs-videocam:before { content: '\e80d'; } /* '' */
.tmicon-mfglabs-isight:before { content: '\e80e'; } /* '' */
.tmicon-mfglabs-camera:before { content: '\e80f'; } /* '' */
.tmicon-mfglabs-menu:before { content: '\e810'; } /* '' */
.tmicon-mfglabs-th-thumb:before { content: '\e811'; } /* '' */
.tmicon-mfglabs-th-thumb-empty:before { content: '\e812'; } /* '' */
.tmicon-mfglabs-th-list:before { content: '\e813'; } /* '' */
.tmicon-mfglabs-ok:before { content: '\e814'; } /* '' */
.tmicon-mfglabs-ok-circled:before { content: '\e815'; } /* '' */
.tmicon-mfglabs-cancel:before { content: '\e816'; } /* '' */
.tmicon-mfglabs-cancel-circled:before { content: '\e817'; } /* '' */
.tmicon-mfglabs-plus:before { content: '\e818'; } /* '' */
.tmicon-mfglabs-help-circled:before { content: '\e819'; } /* '' */
.tmicon-mfglabs-help-circled-alt:before { content: '\e81a'; } /* '' */
.tmicon-mfglabs-info-circled:before { content: '\e81b'; } /* '' */
.tmicon-mfglabs-info-circled-alt:before { content: '\e81c'; } /* '' */
.tmicon-mfglabs-home:before { content: '\e81d'; } /* '' */
.tmicon-mfglabs-link:before { content: '\e81e'; } /* '' */
.tmicon-mfglabs-attach:before { content: '\e81f'; } /* '' */
.tmicon-mfglabs-lock:before { content: '\e820'; } /* '' */
.tmicon-mfglabs-lock-alt:before { content: '\e821'; } /* '' */
.tmicon-mfglabs-lock-open:before { content: '\e822'; } /* '' */
.tmicon-mfglabs-lock-open-alt:before { content: '\e823'; } /* '' */
.tmicon-mfglabs-eye:before { content: '\e824'; } /* '' */
.tmicon-mfglabs-download:before { content: '\e825'; } /* '' */
.tmicon-mfglabs-upload:before { content: '\e826'; } /* '' */
.tmicon-mfglabs-download-cloud:before { content: '\e827'; } /* '' */
.tmicon-mfglabs-upload-cloud:before { content: '\e828'; } /* '' */
.tmicon-mfglabs-reply:before { content: '\e829'; } /* '' */
.tmicon-mfglabs-pencil:before { content: '\e82a'; } /* '' */
.tmicon-mfglabs-export:before { content: '\e82b'; } /* '' */
.tmicon-mfglabs-print:before { content: '\e82c'; } /* '' */
.tmicon-mfglabs-retweet:before { content: '\e82d'; } /* '' */
.tmicon-mfglabs-comment:before { content: '\e82e'; } /* '' */
.tmicon-mfglabs-chat:before { content: '\e82f'; } /* '' */
.tmicon-mfglabs-bell:before { content: '\e830'; } /* '' */
.tmicon-mfglabs-attention:before { content: '\e831'; } /* '' */
.tmicon-mfglabs-attention-alt:before { content: '\e832'; } /* '' */
.tmicon-mfglabs-location:before { content: '\e833'; } /* '' */
.tmicon-mfglabs-trash:before { content: '\e834'; } /* '' */
.tmicon-mfglabs-doc:before { content: '\e835'; } /* '' */
.tmicon-mfglabs-newspaper:before { content: '\e836'; } /* '' */
.tmicon-mfglabs-folder:before { content: '\e837'; } /* '' */
.tmicon-mfglabs-folder-open:before { content: '\e838'; } /* '' */
.tmicon-mfglabs-folder-empty:before { content: '\e839'; } /* '' */
.tmicon-mfglabs-folder-open-empty:before { content: '\e83a'; } /* '' */
.tmicon-mfglabs-cog:before { content: '\e83b'; } /* '' */
.tmicon-mfglabs-calendar:before { content: '\e83c'; } /* '' */
.tmicon-mfglabs-login:before { content: '\e83d'; } /* '' */
.tmicon-mfglabs-logout:before { content: '\e83e'; } /* '' */
.tmicon-mfglabs-mic:before { content: '\e83f'; } /* '' */
.tmicon-mfglabs-mic-off:before { content: '\e840'; } /* '' */
.tmicon-mfglabs-clock:before { content: '\e841'; } /* '' */
.tmicon-mfglabs-stopwatch:before { content: '\e842'; } /* '' */
.tmicon-mfglabs-hourglass:before { content: '\e843'; } /* '' */
.tmicon-mfglabs-zoom-in:before { content: '\e844'; } /* '' */
.tmicon-mfglabs-zoom-out:before { content: '\e845'; } /* '' */
.tmicon-mfglabs-down-open:before { content: '\e846'; } /* '' */
.tmicon-mfglabs-left-open:before { content: '\e847'; } /* '' */
.tmicon-mfglabs-right-open:before { content: '\e848'; } /* '' */
.tmicon-mfglabs-up-open:before { content: '\e849'; } /* '' */
.tmicon-mfglabs-down:before { content: '\e84a'; } /* '' */
.tmicon-mfglabs-left:before { content: '\e84b'; } /* '' */
.tmicon-mfglabs-right:before { content: '\e84c'; } /* '' */
.tmicon-mfglabs-up:before { content: '\e84d'; } /* '' */
.tmicon-mfglabs-down-bold:before { content: '\e84e'; } /* '' */
.tmicon-mfglabs-left-bold:before { content: '\e84f'; } /* '' */
.tmicon-mfglabs-right-bold:before { content: '\e850'; } /* '' */
.tmicon-mfglabs-up-bold:before { content: '\e851'; } /* '' */
.tmicon-mfglabs-down-fat:before { content: '\e852'; } /* '' */
.tmicon-mfglabs-left-fat:before { content: '\e853'; } /* '' */
.tmicon-mfglabs-right-fat:before { content: '\e854'; } /* '' */
.tmicon-mfglabs-up-fat:before { content: '\e855'; } /* '' */
.tmicon-mfglabs-ccw:before { content: '\e856'; } /* '' */
.tmicon-mfglabs-shuffle:before { content: '\e857'; } /* '' */
.tmicon-mfglabs-play:before { content: '\e858'; } /* '' */
.tmicon-mfglabs-pause:before { content: '\e859'; } /* '' */
.tmicon-mfglabs-stop:before { content: '\e85a'; } /* '' */
.tmicon-mfglabs-to-end:before { content: '\e85b'; } /* '' */
.tmicon-mfglabs-to-start:before { content: '\e85c'; } /* '' */
.tmicon-mfglabs-fast-forward:before { content: '\e85d'; } /* '' */
.tmicon-mfglabs-fast-backward:before { content: '\e85e'; } /* '' */
.tmicon-mfglabs-trophy:before { content: '\e85f'; } /* '' */
.tmicon-mfglabs-monitor:before { content: '\e860'; } /* '' */
.tmicon-mfglabs-tablet:before { content: '\e861'; } /* '' */
.tmicon-mfglabs-mobile:before { content: '\e862'; } /* '' */
.tmicon-mfglabs-data-science:before { content: '\e863'; } /* '' */
.tmicon-mfglabs-data-science-inv:before { content: '\e864'; } /* '' */
.tmicon-mfglabs-inbox:before { content: '\e865'; } /* '' */
.tmicon-mfglabs-globe:before { content: '\e866'; } /* '' */
.tmicon-mfglabs-globe-inv:before { content: '\e867'; } /* '' */
.tmicon-mfglabs-flash:before { content: '\e868'; } /* '' */
.tmicon-mfglabs-cloud:before { content: '\e869'; } /* '' */
.tmicon-mfglabs-coverflow:before { content: '\e86a'; } /* '' */
.tmicon-mfglabs-coverflow-empty:before { content: '\e86b'; } /* '' */
.tmicon-mfglabs-math:before { content: '\e86c'; } /* '' */
.tmicon-mfglabs-math-circled:before { content: '\e86d'; } /* '' */
.tmicon-mfglabs-math-circled-empty:before { content: '\e86e'; } /* '' */
.tmicon-mfglabs-paper-plane:before { content: '\e86f'; } /* '' */
.tmicon-mfglabs-paper-plane-alt:before { content: '\e870'; } /* '' */
.tmicon-mfglabs-paper-plane-alt2:before { content: '\e871'; } /* '' */
.tmicon-mfglabs-fontsize:before { content: '\e872'; } /* '' */
.tmicon-mfglabs-color-adjust:before { content: '\e873'; } /* '' */
.tmicon-mfglabs-fire:before { content: '\e874'; } /* '' */
.tmicon-mfglabs-chart-bar:before { content: '\e875'; } /* '' */
.tmicon-mfglabs-hdd:before { content: '\e876'; } /* '' */
.tmicon-mfglabs-connected-object:before { content: '\e877'; } /* '' */
.tmicon-mfglabs-ruler:before { content: '\e878'; } /* '' */
.tmicon-mfglabs-vector:before { content: '\e879'; } /* '' */
.tmicon-mfglabs-vector-pencil:before { content: '\e87a'; } /* '' */
.tmicon-mfglabs-at:before { content: '\e87b'; } /* '' */
.tmicon-mfglabs-hash:before { content: '\e87c'; } /* '' */
.tmicon-mfglabs-female:before { content: '\e87d'; } /* '' */
.tmicon-mfglabs-male:before { content: '\e87e'; } /* '' */
.tmicon-mfglabs-spread:before { content: '\e87f'; } /* '' */
.tmicon-mfglabs-king:before { content: '\e880'; } /* '' */
.tmicon-mfglabs-anchor:before { content: '\e881'; } /* '' */
.tmicon-mfglabs-joystick:before { content: '\e882'; } /* '' */
.tmicon-mfglabs-spinner1:before { content: '\e883'; } /* '' */
.tmicon-mfglabs-spinner2:before { content: '\e884'; } /* '' */
.tmicon-mfglabs-github:before { content: '\e885'; } /* '' */
.tmicon-mfglabs-github-circled:before { content: '\e886'; } /* '' */
.tmicon-mfglabs-github-circled-alt:before { content: '\e887'; } /* '' */
.tmicon-mfglabs-github-circled-alt2:before { content: '\e888'; } /* '' */
.tmicon-mfglabs-twitter:before { content: '\e889'; } /* '' */
.tmicon-mfglabs-twitter-circled:before { content: '\e88a'; } /* '' */
.tmicon-mfglabs-facebook-1:before { content: '\e88b'; } /* '' */
.tmicon-mfglabs-facebook-circled:before { content: '\e88c'; } /* '' */
.tmicon-mfglabs-gplus:before { content: '\e88d'; } /* '' */
.tmicon-mfglabs-gplus-circled:before { content: '\e88e'; } /* '' */
.tmicon-mfglabs-linkedin:before { content: '\e88f'; } /* '' */
.tmicon-mfglabs-linkedin-circled:before { content: '\e890'; } /* '' */
.tmicon-mfglabs-dribbble:before { content: '\e891'; } /* '' */
.tmicon-mfglabs-dribbble-circled:before { content: '\e892'; } /* '' */
.tmicon-mfglabs-instagram:before { content: '\e893'; } /* '' */
.tmicon-mfglabs-instagram-circled:before { content: '\e894'; } /* '' */
.tmicon-mfglabs-soundcloud:before { content: '\e895'; } /* '' */
.tmicon-mfglabs-soundcloud-circled:before { content: '\e896'; } /* '' */
.tmicon-mfglabs-mfg-logo:before { content: '\e897'; } /* '' */
.tmicon-mfglabs-mfg-logo-circled:before { content: '\e898'; } /* '' */